## python基础
1. 基础的基础
    - 从print开始
    - 变量
    - 行与缩进
    - 注释
2. 基本数据类型(number、string、list、tuple、dic,set)
    - number相互转化
    - 字符运算，数字的相互计算(+,-,*,/,%,**,//)
    - 字符串(拼接，索引index，slice，常见的命令),字符串常见命令：split,join,strip,replace,lower,upper,len
    - 列表list，常见命令(create,index,slice,copy,in, not in,append,remove,pop)
    - 元组tuple，类似这样结构，相校list，不能修改()
    - 字典dic,key==>value(可以任意数据), dic = {key1:value1,key2:value2}
    - set
3. 条件控制control
    - if-else,判断执行，
    - for
    - while
    - try-except

### 第一个程序，基础的基础

In [98]:
# 从print开始第一个程序
print('Hello world')
print('life is short, but i use python')
print('292930')
print('my name is gong')
print('my name is zhang')

Hello world
life is short, but i use python
292930
my name is gong
my name is zhang

In [99]:
# 变量
name = 'Gong'
print(name)
name = 'zhang'
print(name)
# 第一个字符必须以字母（a-z, A-Z）或下划线 _ 。标识符的其他的部分由字母、数字和下划线组成。
age = 20
size = 'large'

'''
2nd_place = "silver"    # 错误：以数字开头
user-name = "Bob"       # 错误：包含连字符
$price = 9.99          # 错误：包含特殊字符
class = "Math"          # 错误：使用关键字
for = "loop"           # 错误：使用关键字
'''

import keyword
print(keyword.kwlist)

Gong
zhang
['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [100]:
# 注释
# 以#开头的，后面都是注释，注释不执行，可在程序前，也可在程序后

# 这里是注释
# 这里还是注释

#以''' 内容 '''进行注释，可以是单引号，也可以是双引号 
'''
这里是一大段注释
通常用于大程序的前期描述
或者独立程序的描述
'''
 
"""
与单引号
注释一致
"""

'\n与单引号\n注释一致\n'

In [ ]:
# 换行与缩进
# python最具特色的就是使用缩进来表示代码块，通常为一个tab
if True:
    print ("True")
else:
    print ("False")

item_one = 1
item_two = 2
item_three = 3

total = item_one + \
    item_two + \
    item_three

True

### 基本数据类型

In [102]:
# two style of int
x = 8
print(x)
x = 8_000_000
print(x)

#two style of float
y = 8.52452
print(y)
y = 8.2e-3
print(y)

#int float convert
c = 8.5544
int(c)
c = 900
float(c)

#type check
type(c)

#int and float support arithmetic(+,-,*,/,%,//)
xy = 5*5
print(y)
x1 = 100
y1 = 23
print(x1/y1)
print(int(x1/y1))


#demical 
x2 = 4
y2 = 6
xy2 = x2/y2
print(xy2)
round(xy2,2)

8
8000000
8.52452
0.0082
0.0082
4.3478260869565215
4
0.6666666666666666

0.67

In [103]:
# in''
string1 = 'This is a string'
string2 = 'and'
string3 = '300'

# print(string1)
# print(string2)
# print(string3)
# print(len(string3))
# string4 = string1+' '+string2+string3
# print(string4)

print(string1[0])
print(string1[-2])
print(string1[1:4])
print(string1[4:])
print(string1[:-6])

T
n
his
 is a string
This is a

In [104]:
string6 = '   $$$ Remove unwanted chararcters form this string.\t\t       \n+++___   ' 
# string6_1 = string6.strip()
# string6_1 = string6.lstrip()
# string6_1 = string6.rstrip()
# print(string6_1)
string6_1 = string6.strip(' $_-+\n\t') ###if start or end with $_-+
print(string6_1)

Remove unwanted chararcters form this string.

In [105]:
string7 = 'replace the space in this sentence'
string7_1 = string7.replace(' ','_')
print(string7_1)

replace_the_space_in_this_sentence

In [106]:
#lower ,upper,capitalize
aa = 'Alpher'
AA = 'alpher'
if AA == aa:
    print('True')
print(aa.upper())
print(aa.lower())
if AA.upper() == aa.upper():
    print('TRUE')

ALPHER
alpher
TRUE

In [107]:
# \ use in string
s_str = "i'm good"
s_str1 = 'i\'m good'
print(s_str)
print(s_str1)

#special \t, \n
print('happy new year!\n')

i'm good
i'm good
happy new year!

In [108]:
#use format
'Hi, %s, you have $%d.'%(s_str, 10000000) # here %s stand for str，%d stand for int, %f for float

print('Hi,{0},you looks good, you have {1:.2f}.'.format('Gong',10000.22))
print('Hi,{0},you looks good, you have {2:.1f}.'.format('Gong',10000.22,202311))
# another kind of way
name = 'Gong'
goods = 1000000
print(f'Hi,{name},you looks good ,and you have {goods:.1f}')

Hi,Gong,you looks good, you have 10000.22.
Hi,Gong,you looks good, you have 202311.0.
Hi,Gong,you looks good ,and you have 1000000.0

In [109]:
# string5 = string1+str(50)
# print(string5)
# print(string1.join(string3))

#split
string5 = 'This is a test for split'
string5_1 = string5.split(' ')
print(string5_1)
string5_2 = string5.split(' ',2) #split only 2
print(string5_2)
string6 = 'This,is,a,another,test,for,split'
string6_1 = string6.split(',')
print(string6_1)

# #example
filename = '昆明市空气质量小时数据(2022年01月-05月)'
s_output = filename.split('(')
print(s_output)
s_output = s_output[1].split(')')
print(s_output)
print(s_output[0])
#another way
file_out = filename[12:-1]
print(file_out)

['This', 'is', 'a', 'test', 'for', 'split']
['This', 'is', 'a test for split']
['This', 'is', 'a', 'another', 'test', 'for', 'split']
['昆明市空气质量小时数据', '2022年01月-05月)']
['2022年01月-05月', '']
2022年01月-05月
2022年01月-05月

In [110]:
#homework 1，运行一遍上面的程序
#homework 2
columns_name = ' 烷烃-乙烷(ppb) ' #output 乙烷, two way.
#homework 3
#输出一段结果，采用format格式，包含自己的名字和身高，或其他的数字信息，要求两位小数

In [111]:
# a basic list
list1 = [1,2,3,4,5]
list2 = ['a','b','c','d','e']
a_list = [12,13,'data','today',['你','真棒'],12]

# print(a_list[4]) #index
# print(a_list[1:3])   #slice
# print(a_list.index(['你', '真棒'])) #if we don't know the index,return 1st one
# print(a_list.index(12))
# print(a_list[-2][0])

# # creat an empty list
# e_list = []

# #add in list
# e_list.append('one') #添加到后面
# e_list.append(17)
# e_list.append(['我们','真棒'])
# print(e_list)
# print(type(e_list))

# #list copy
# c_list = a_list.copy()
# print(c_list)

# #list concat
# d_list = list1+list2
# print(d_list)
# print([list1,list2])

#list change parameter
# a_list[-2] = ['xxx', '真棒']
# print(a_list)

# delete,use pop
# print(a_list)
# re = a_list.pop(-2) #序号删除
# print(re)
# print(a_list)

#delete,use remove
# re = a_list.remove(13) #值删除
# print(re)
# print(a_list.remove(12)) #delete 1st one
# print(a_list)

In [112]:
a_list = [12,13,'data','today',['你','真棒'],12]
if 14 in a_list:
    print('True')

if 12 not in a_list:
    print('True')

In [113]:
# use len
b_list = [2,3,4,5,6,7,8,5,4,7,10,3,3,2,5,6,11]
print(len(b_list))
print(max(b_list))
print(min(b_list))
print(b_list.count(3))

print('b_list has {} elements.'.format(len(b_list)))#len,max,min,count

17
11
2
3
b_list has 17 elements.

## tuple

In [114]:
tup1 = (1,2,3,4,5)
tup2 = 'a','b','c','d','e'
print(tup1)
print(type(tup1))
print(tup2)
print(tup2[0])

#delete tuple element,delete all tuple
del tup2
print(tup2)

(1, 2, 3, 4, 5)
<class 'tuple'>
('a', 'b', 'c', 'd', 'e')
a

NameError: name 'tup2' is not defined

## dic(create,key,values,len)

In [ ]:
dict1 = {'Name':'Gong','number':'1292847','ID':'365739','hobby':['basketball','reading']}
print(dict1)
#create empty dict
e_dict = {}

print(len(dict1))
print(dict1['Name'])
print(dict1.keys())
print(dict1.values())
print(dict1.items())

#add element
dict1['Height'] = 171
print(dict1)

#remove element
re = dict1.pop('Height')
print(dict1)

print(dict1.get('Name'))

{'Name': 'Gong', 'number': '1292847', 'ID': '365739', 'hobby': ['basketball', 'reading']}
4
Gong
dict_keys(['Name', 'number', 'ID', 'hobby'])
dict_values(['Gong', '1292847', '365739', ['basketball', 'reading']])
dict_items([('Name', 'Gong'), ('number', '1292847'), ('ID', '365739'), ('hobby', ['basketball', 'reading'])])
{'Name': 'Gong', 'number': '1292847', 'ID': '365739', 'hobby': ['basketball', 'reading'], 'Height': 171}
{'Name': 'Gong', 'number': '1292847', 'ID': '365739', 'hobby': ['basketball', 'reading']}
Gong

## control

In [ ]:
# if
print(a_list)
if 3 in a_list:
    a_list.append('new')
    print(a_list)
else:
    print('not in')

[12, 13, 'data', 'today', ['你', '真棒'], 12]
not in

In [ ]:
# if elif：
aqi = 130
if aqi < 100:
    print('a litter than 100')
elif aqi < 200:
    print('a is between 100 and 200')
elif aqi < 300:
    print('a is between 200 and 300')
else:
    print('Done')

In [ ]:
#use for

# for x in a_list:
#     print(x)

xy = range(1,12,3) #range生成序列数
print(xy)
for i in xy:
    print(i)
    
    
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
new_m = []
for m in months:
    m = m+'_'
    # print(m)
    new_m.append(m)
print(new_m)

range(1, 12, 3)
1
4
7
10
['Jan_', 'Feb_', 'Mar_', 'Apr_', 'May_', 'Jun_', 'Jul_', 'Aug_', 'Sep_', 'Oct_', 'Nov_', 'Dec_']

In [ ]:
# while 
sum = 0
n = 5
while n > 0:
    sum = sum + n
    n = n - 2
print(sum)

9

In [ ]:
# while, break
n = 1
while n <= 10:
    if n > 5: # 当n = 11时，条件满足，执行break语句
        break # break语句会结束当前循环
    print(n)
    n = n + 1
print('END')

1
2
3
4
5
END

In [ ]:
# while, continue 
n = 0
while n < 10:
    n = n + 1
    if n % 2 == 0: # 如果n是偶数，执行continue语句
        continue # continue语句会直接继续下一轮循环，后续的print()语句不会执行
    print(n)

1
3
5
7
9

In [ ]:
#homework 1
months = ['Jan', 'Feb', 'Mar', 'Apr', 'Jun',  'Aug', 'Sep',  'Nov', 'Dec']
#查找缺失月份，并打印出来

#homework 2
a_list = [2,3,4,5,6,7,8,5,4,7,10,3,3,2,5,6,11]
#输出非重复的序列值

# homework 3
a_list = [12,13,'data','today',['龚先生','真棒'],12]
#将龚先生替换为自己的名字

#homework 4 
# 输入一个数，计算是否润年

#homework 5
#根据输入的AQI计算污染等级